@using CV.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Error;
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="text-danger">@Resources.Error.</h1>
    <h2 class="text-danger">@Resources.ErrorWhileProcessingRequest</h2>
</div>